params {

    reads = "/mnt/c/NextflowPipeline/data/Sample1.fastq"
    ref   = "/mnt/c/NextflowPipeline/data/chr22.fa"

    fastqc   = "/home/user_gauri/miniconda3/envs/bnf/bin/fastqc"
    bwa      = "/home/user_gauri/miniconda3/envs/bnf/bin/bwa"
    samtools = "/home/user_gauri/miniconda3/envs/bnf/bin/samtools"
    bcftools = "/home/user_gauri/miniconda3/envs/bnf/bin/bcftools"

    outdir = "/mnt/c/NextflowPipeline/results"
}

process {
    executor = 'local'
    conda    = "environment.yml"
    shell    = ['/bin/bash', '-euo', 'pipefail']
}
