params {

    //input and output binary paths
    fastq = "$projectDir/data/*.fastq"
    ref = "$projectDir/reference/*.fa"
    outdir = "$projectDir/results"
    adapter = "AGATCGGAAGAGC"

    //Tools binary paths

    fastqc   = "/home/user_gauri/miniconda3/envs/bnf/bin/fastqc"
    cutadapt = "/home/user_gauri/miniconda3/envs/bnf/bin/cutadapt"
    bwa      = "/home/user_gauri/miniconda3/envs/bnf/bin/bwa"
    samtools = "/home/user_gauri/miniconda3/envs/bnf/bin/samtools"
    bcftools = "/home/user_gauri/miniconda3/envs/bnf/bin/bcftools"
}

process {
    conda = "$baseDir/environment.yml"
}

process {
    cpus = 2
    memory = '2 GB'
    errorStrategy = 'retry'
    maxRetries = 3
}


